<h1 class="display-4">Peliculas</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col">Estreno</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas">
            <th scope="row">{{pelicula.id}}</th>
            <td>{{pelicula.nombre_pelicula}}</td>
            <td>{{pelicula.genero}}</td>
            <td>{{pelicula.duracion}} min</td>
            <td>{{pelicula.fecha_estreno | date: 'shortDate'}}</td>
            <td>{{pelicula.descripcion | slice:0:50}}...</td>
    </tbody>
</table>